<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <title>Admin</title>
</head>
<body>


<!--NAVBAR -->
<nav class="navbar navbar-expand-xxl navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:if="${user != null}" th:object="${user}"
           th:text="${user.getEmail()}">Navbar</a>
        <a class="navbar-brand">with roles:</a>
        <a class="navbar-brand" th:if="${user != null}" th:object="${user}" th:text="${user.getRolesString()}">Roles</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDark"
                aria-controls="navbarDark" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse show" id="navbarDark">
            <ul class="navbar-nav me-auto mb-2 mb-xl-0"></ul>
            <form class="d-flex" th:action="@{/logout}" th:method="POST">
                <button class="btn btn-outline-light">Logout</button>
            </form>
        </div>
    </div>
</nav>


<div class="row">
    <!--        ROLE BUTTONS-->
    <div class="col-sm-2">
        <br>
        <div class="d-grid gap-2">

            <button type="button" class="btn btn-outline-primary" data-bs-toggle="button"
                    onclick="location.href='/admin'" autocomplete="off">Admin
            </button>
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="button"
                    onclick="location.href='/user'" autocomplete="off">User
            </button>

        </div>
    </div>

    <div class="col-sm-9">
        <div class="p-3 mb-2 bg-light text-dark">
            <div class="row">
                <div class="col-8 col-lg">

                    <h1>Admin panel</h1>

                    <!--                    навбар для админа-->
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                                    aria-selected="true">Users table
                            </button>
                            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-profile" type="button" role="tab"
                                    aria-controls="nav-profile"
                                    aria-selected="false">New User
                            </button>
                        </div>
                    </nav>

                    <div class="tab-content" id="nav-tabContent">


                        <!--                            USERS TABLE             -->

                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                             aria-labelledby="nav-home-tab">

                            <div class="card card-header">All users</div>

                            <div class="card-body mx-auto" style="margin: 10px; padding: 10px">
                                <div class="border">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Username</th>
                                            <th scope="col">First Name</th>
                                            <th scope="col">Last Name</th>
                                            <th scope="col">Age</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Role</th>
                                            <th scope="col">Edit</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="user : ${users}">

                                            <td th:text="${user.getId()}"></td>
                                            <td th:text="${user.getUsername()}"></td>
                                            <td th:text="${user.getFirstName()}"></td>
                                            <td th:text="${user.getLastName()}"></td>
                                            <td th:text="${user.getAge()}"></td>
                                            <td th:text="${user.getEmail()}"></td>
                                            <td th:text="${user.getRolesString()}"></td>
                                            <td>
                                                <form name="editForm"
                                                      th:action="@{/admin/edit/{id}(id=${user.getId()})}"
                                                      method="GET">
                                                    <button type="submit"
                                                            class="btn btn-primary">Edit
                                                    </button>
                                                </form>
                                            </td>
                                            <td>
                                                <form name="deleteForm"
                                                      th:action="@{/admin/delete/{id}(id=${user.getId()})}"
                                                      method="GET">
                                                    <button type="submit" class="btn btn-danger">Delete</button>
                                                </form>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
<!--                            USERS TABLE             -->


                        <!--                        добавление пользователя-->
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                             aria-labelledby="nav-profile-tab"
                             tabindex="0">

                            <form th:if="${user != null}"
                                  class="card"
                                  th:action="@{/admin/add}"
                                  th:method="POST"
                                  th:object="${user}">

                                <div class="card-header">Add new user</div>

                                <div class="card-body mx-auto" style="margin: 10px; padding: 10px">

                                    <div class="form-floating mb-3">
                                        <div class="mb-3">
                                            <label for="InputUserName" class="form-label tab"><b>Username</b></label>
                                            <input type="text" class="form-control" id="InputUserName"
                                                   placeholder="name"
                                                   th:class="${#fields.hasErrors('username')}? 'class= form-control is-invalid' : 'class= form-control'"
                                                   th:field="*{username}">
                                            <label for="InputUserName" th:errors="*{username}"
                                                   th:if="${#fields.hasErrors('username')}"></label>
                                        </div>
                                    </div>

                                    <div class="form-floating mb-3">
                                        <div class="mb-3">
                                            <label for="InputFirstName" class="form-label tab"><b>Username</b></label>
                                            <input type="text" class="form-control" id="InputFirstName"
                                                   placeholder="name"
                                                   th:class="${#fields.hasErrors('firstName')}? 'class= form-control is-invalid' : 'class= form-control'"
                                                   th:field="*{firstName}">
                                            <label for="InputFirstName" th:errors="*{firstName}"
                                                   th:if="${#fields.hasErrors('firstName')}"></label>
                                        </div>
                                    </div>

                                    <div class="form-floating mb-3">
                                        <div class="mb-3">
                                            <label for="InputLastName" class="form-label tab"><b>Last name</b></label>
                                            <input type="text" class="form-control" id="InputLastName"
                                                   placeholder="lastName"
                                                   th:class="${#fields.hasErrors('lastName')}? 'class= form-control is-invalid' : 'class= form-control'"
                                                   th:field="*{lastName}">
                                            <label for="InputLastName" th:errors="*{lastName}"
                                                   th:if="${#fields.hasErrors('lastName')}"></label>
                                        </div>
                                    </div>

                                    <div class="form-floating mb-3">
                                        <div class="mb-3">
                                            <label for="InputPassword" class="form-label tab"><b>Password</b></label>
                                            <input type="password" class="form-control" id="InputPassword"
                                                   placeholder="password"
                                                   th:field="*{password}">
                                        </div>
                                    </div>

                                    <div class="form-floating mb-3">
                                        <label for="InputAge" class="form-label tab"><b>Age</b></label>
                                        <input class="form-control"
                                               id="inputAge"
                                               type="number"
                                               placeholder="Возраст"
                                               th:class="${#fields.hasErrors('age')}? 'class= form-control is-invalid' : 'class= form-control'"
                                               th:field="*{age}">
                                        <label for="inputAge" th:if="${!#fields.hasErrors('age')}">Age</label>
                                        <label for="inputAge" th:errors="*{age}"
                                               th:if="${#fields.hasErrors('age')}"></label>
                                    </div>

                                    <div class="form-floating mb-3">
                                        <div class="mb-3">
                                            <label for="inputEmail" class="form-label tab"><b>Email</b></label>
                                            <input type="email" class="form-control" id="inputEmail"
                                                   placeholder="name@example.com"
                                                   th:field="*{email}">
                                        </div>
                                    </div>

                                    <div class="card mb-3">
                                        <label class="form-label tab"><b>Roles</b></label>
                                        <div class="card-header"></div>
                                        <div class="card-body">
                                            <div class="form-check">
                                                <label class="form-check-label d-block my-2" th:each="role : ${roles}">
                                                    <input class="form-check-input"
                                                           th:field="*{roles}"
                                                           th:value="${role.getId()}"
                                                           type="checkbox">
                                                    <span th:text="${role.getName()}"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="container d-flex justify-content-center align-items-center">
                                        <button class="btn btn-success" type="submit">Add new user
                                        </button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<!--EDIT MODAL-->
<div th:if="${editUser != null}" class="modal fade" id="editModal"
     tabindex="-1" aria-labelledby="editModal" aria-hidden="true">
    <div class="modal-dialog">
        <form th:action="@{/admin/edit/{id}(id=${editUser.getId()})}"
              th:method="PATCH"
              th:object="${editUser}">
            <div class="modal-content">

                <div class="modal-header">
                    <h1 id="editModalLabel"> Edit user</h1>
                    <button type="button" class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body mx-auto">

                    <div class="form-floating mb-3">
                        <input id="editModalUsername"
                               placeholder="Имя"
                               th:class="${#fields.hasErrors('username')}? 'class= form-control is-invalid' : 'class= form-control'"
                               th:field="*{username}">
                        <label for="editModalUsername" th:if="${!#fields.hasErrors('username')}">Username</label>
                        <label for="editModalUsername" th:errors="*{username}"
                               th:if="${#fields.hasErrors('username')}"></label>
                    </div>

                    <div class="form-floating mb-3">
                        <input id="editModalFirstName"
                               placeholder="Фамилия"
                               th:class="${#fields.hasErrors('firstName')}? 'class= form-control is-invalid' : 'class= form-control'"
                               th:field="*{firstName}">
                        <label for="editModalLastName" th:if="${!#fields.hasErrors('firstName')}">First name</label>
                        <label for="editModalLastName" th:errors="*{firstName}"
                               th:if="${#fields.hasErrors('firstName')}"></label>
                    </div>

                    <div class="form-floating mb-3">
                        <input id="editModalLastName"
                               placeholder="Фамилия"
                               th:class="${#fields.hasErrors('lastName')}? 'class= form-control is-invalid' : 'class= form-control'"
                               th:field="*{lastName}">
                        <label for="editModalLastName" th:if="${!#fields.hasErrors('lastName')}">Last name</label>
                        <label for="editModalLastName" th:errors="*{lastName}"
                               th:if="${#fields.hasErrors('lastName')}"></label>
                    </div>

                    <div class="form-floating mb-3">
                        <input id="editModalPassword"
                               placeholder="Пароль"
                               type="password"
                               th:class="${#fields.hasErrors('password')}? 'class= form-control is-invalid' : 'class= form-control'"
                               th:field="*{password}">
                        <label for="editModalPassword" th:if="${!#fields.hasErrors('password')}">Password</label>
                        <label for="editModalPassword" th:errors="*{password}"
                               th:if="${#fields.hasErrors('password')}"></label>
                    </div>

                    <div class="form-floating mb-3">
                        <input class="form-control"
                               id="editModalAge"
                               type="number"
                               placeholder="Возраст"
                               th:class="${#fields.hasErrors('age')}? 'class= form-control is-invalid' : 'class= form-control'"
                               th:field="*{age}">
                        <label for="editModalAge" th:if="${!#fields.hasErrors('age')}">Age</label>
                        <label for="editModalAge" th:errors="*{age}"
                               th:if="${#fields.hasErrors('age')}"></label>
                    </div>


                    <div class="form-floating mb-3">
                        <div class="mb-3">
                            <label for="editModalEmail" class="form-label">Email</label>
                            <input type="email" class="form-control" id="editModalEmail"
                                   placeholder="name@example.com"
                                   th:field="*{email}">
                        </div>
                    </div>

                    <br>

                    <div class="card mb-3">
                        <div class="card-header">
                            Roles
                        </div>
                        <div class="card-body">
                            <div class="form-check">
                                <label class="form-check-label d-block my-2" th:each="role: ${roles}">
                                    <input class="form-check-input" th:field="*{roles}"
                                           th:value="${role.getId()}"
                                           type="checkbox">
                                    <span th:text="${role.getName()}"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Close
                    </button>
                    <button type="submit"
                            class="btn btn-primary">Edit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


<!--DELETE MODAL-->
<div th:if="${deleteUser != null}" class="modal fade" id="deleteModal"
     tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog">
        <form th:action="@{/admin/delete/{id}(id=${deleteUser.getId()})}"
              th:method="DELETE"
              th:object="${deleteUser}">
            <div class="modal-content">

                <div class="modal-header">
                    <h1 id="deleteModalLabel">Delete user</h1>
                    <button type="button" class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>

                <div class="modal-body mx-auto">
                    <div class="mb-3 text-center">
                        <label for="deleteModalName" class="form-label">First name</label>
                        <input id="deleteModalName" class="form-control" placeholder="First name"
                               th:value="${deleteUser.getUsername()}"
                               readonly
                               style="width: 400px;">
                    </div>

                    <div class="mb-3 text-center">
                        <label for="deleteModalLastName" class="form-label">Last name</label>
                        <input id="deleteModalLastName" class="form-control" placeholder="Last name"
                               th:value="${deleteUser.getLastName()}"
                               readonly
                               style="width: 400px;">
                    </div>

                    <div class="mb-3 text-center">
                        <label for="deleteModalAge" class="form-label">Age</label>
                        <input id="deleteModalAge" class="form-control" placeholder="Age"
                               th:value="${deleteUser.getAge()}"
                               readonly>
                    </div>

                    <div class="mb-3 text-center">
                        <label for="deleteModalEmail" class="form-label">Email</label>
                        <input id="deleteModalEmail" class="form-control" placeholder="Email"
                               th:value="${deleteUser.getEmail()}"
                               readonly>
                    </div>

                    <div class="mb-3 text-center">
                        <label for="deleteModalRoles" class="form-label">Roles</label>
                        <select id="deleteModalRoles" class="form-select" multiple aria-label="Role: " readonly>
                            <option th:each="role: ${deleteUser.getRoles()}" th:text="${role.getName()}"></option>
                        </select>
                    </div>


                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Close
                    </button>
                    <button type="submit"
                            class="btn btn-danger">Delete
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


<script type="text/javascript" src="/js/bootstrap.bundle.js"></script>
<script type="text/javascript" src="/js/modalControl.js"></script>
</body>
</html>