<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <title>Admin</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-xxl navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:if="${user != null}" th:object="${user}" th:text="${user.getEmail()}">Navbar</a>
        <a class="navbar-brand">with roles:</a>
        <a class="navbar-brand" th:if="${user != null}" th:object="${user}" th:text="${user.getRolesString()}">Roles</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDark"
                aria-controls="navbarDark" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse show" id="navbarDark">
            <ul class="navbar-nav me-auto mb-2 mb-xl-0"></ul>
            <form class="d-flex" th:action="@{/logout}" th:method="POST">
                <button class="btn btn-outline-light">Logout</button>
            </form>
        </div>
    </div>
</nav>

<div class="row">
    <div class="col-sm-2">

        <br>
        <div class="d-grid gap-2">

            <button th:if="${user != null && user.getRolesString() == 'ADMIN'}"  type="button"
                    class="btn btn-outline-primary" data-bs-toggle="button" onclick="location.href='/admin'"
                    autocomplete="off">Admin
            </button>
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="button"
                    onclick="location.href='/user'" autocomplete="off">User
            </button>

        </div>

    </div>
    <div class="col-sm-9">
        <div class="p-3 mb-2 bg-light text-dark">
            <div class="row">
                <div class="col-8 col-sm-12">

                    <h1>User information-page</h1>

                    <nav th:if="${user != null && user.getRolesString() == 'ADMIN'}" class="nav nav-tabs"
                         id="nav-tab" role="tablist">
                        <a class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="/admin" role="tab"
                           aria-controls="nav-home" aria-selected="true">Users table</a>

                        <a class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" href="/admin/add" role="tab"
                           aria-controls="nav-profile" aria-selected="false">New User</a>
                    </nav>


                    <h5> About user</h5>
                    <div class="border">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user : ${user}">

                                <td th:text="${user.getId()}"></td>
                                <td th:text="${user.getUsername()}"></td>
                                <td th:text="${user.getLastName()}"></td>
                                <td th:text="${user.getAge()}"></td>
                                <td th:text="${user.getEmail()}"></td>
                                <td th:text="${user.getRolesString()}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/modalControl.js"></script>
</div>

</body>
</html>